@model NotebookSecond.Models.ChangePassword
@{
    ViewData["Title"] = "Смена пароля";
}
<div class="page_content">
    <form asp-action="ChangePassword" asp-controller="Users" class="container-sm" style="width: 50%; max-width: 517px;">
        <h1>Смена пароля</h1>
        @*Ссылка на метод в контроллере*@
        <p>
            <label asp-for="Id" class="form-label">Id</label><br>
            <input asp-for="Id" class="form-control" type="text" readonly />
        </p>
        <p>
            <label asp-for="Login" class="form-label">Логин</label><br>
            <input asp-for="Login" class="form-control" type="text" placeholder="" value="@User.Identity.Name" readonly/>
        </p>
        <p>
            <label asp-for="OldPassword" class="form-label">Введите старый пароль</label><br>
            <input asp-for="OldPassword" class="form-control" placeholder="" />
        </p>
        <p>
            <label asp-for="NewPassword" class="form-label">Введите новый пароль</label><br>
            <input asp-for="NewPassword" class="form-control" placeholder="" />
        </p>

        <div asp-validation-summary="All" class="error"></div>
        <p>
            <input class="header__button get-modal_1" type="submit" value="Сохранить" style="float: right;" />
        </p>
    </form>
</div>
