.menu-main {
    list-style: none;
    margin: 0px 0 50px;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
}

    .menu-main li {
        display: inline-block;
    }

        .menu-main li:after {
            color: #606060;
            display: inline-block;
            vertical-align: top;
        }

        .menu-main li:last-child:after {
            content: none;
        }
    .menu-main input {
        text-decoration: none;
        font-family: 'Tahoma';
        letter-spacing: 2px;
        position: relative;
        padding-bottom: 20px;
        margin: 0 34px 0 30px;
        font-size: 17px;
        text-transform: uppercase;
        display: inline-block;
        transition: color .2s;
        border: none;
        background: white;
        color: #9d999d;
    }

    .menu-main a {
        text-decoration: none;
        font-family: 'Tahoma';
        letter-spacing: 2px;
        position: relative;
        padding-bottom: 20px;
        margin: 0 34px 0 30px;
        font-size: 17px;
        text-transform: uppercase;
        display: inline-block;
        transition: color .2s;
    }

        .menu-main a, .menu-main a:visited {
            color: #9d999d;
        }

            .menu-main a.current, .menu-main input.current, .menu-main a:hover, .menu-main input:hover {
                color: #ff9c09;
            }

            .menu-main a:before,
            .menu-main a:after,
            .menu-main input:before,
            .menu-main input:after {
                content: "";
                position: absolute;
                height: 4px;
                top: auto;
                right: 50%;
                bottom: -5px;
                left: 50%;
                background: #ff9c09;
                transition: .8s;
            }

            .menu-main a:hover:before, .menu-main .current:before {
                left: 0;
            }

            .menu-main a:hover:after, .menu-main .current:after {
                right: 0;
            }

@media (max-width: 550px) {
    .menu-main {
        padding-top: 0;
    }

        .menu-main li {
            display: block;
        }

            .menu-main li:after {
                content: none;
            }

        .menu-main a {
            padding: 25px 0 20px;
            margin: 0 30px;
        }
}