<div class="page_content">
    <form action="~/Worker/GetWorkerFromViewDB" method="post" class="container-sm" style="width: 50%; max-width: 517px;">
        <h1>Добавление сотрудника</h1>
        @*Ссылка на метод в контроллере*@
        <p>
            <label class="form-label">Имя</label><br>
            <input class="form-control" type="text" name="worker.Name" placeholder="" />
        </p>
        <p>
            <label class="form-label">Фамилия</label><br>
            <input class="form-control" type="text" name="worker.Surname" placeholder="" />
        </p>
        <p>
            <label class="form-label">Отчество</label><br>
            <input class="form-control" type="text" name="worker.Patronymic" placeholder="" />
        </p>
        <p>
            <label class="form-label">Номер телефона</label><br>
            <input class="form-control" type="text" name="worker.PhoneNumber" placeholder="" />
        </p>
        <p>
            <label class="form-label">Адрес</label><br>
            <input class="form-control" type="text" name="worker.Address" placeholder="" />
        </p>
        <p>
            <label class="form-label">Описание</label><br>
            <input class="form-control" type="text" name="worker.Description" placeholder="" />
        </p>
        <p>
            <input class="header__button get-modal_1" type="submit" value="Сохранить" style="float: right;" />
        </p>
    </form>
</div>
