@using NotebookSecond.Entities
@model Worker
@{
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form action="~/Worker/DeleteWorkerFromViewDB" method="post">
        @*Ссылка на метод в контроллере*@
        <p>
            Вы уверены, что хотите удалить пользователя с именем @Model.Surname @Model.Name @Model.Patronymic?
        <input type="text" name="worker.Id" value="@Model.Id" hidden/>
        </p>
        <p><input type="submit" value="Удалить" /></p>
    </form>
    <p>
        <a href="/WorkersList/Index" target="_blank">Список сотрудников</a>
        <a href="/Worker/AddWorker" target="_blank">Добавить сотрудника</a>
    </p>
</body>
</html>