@{
    ViewData["Title"] = "Описание работы приложения";
}
<div class="page_content">
    <form action="~/Worker/AddWorker" method="post" class="container-sm" style="width: 50%; max-width: 517px;">
        <h1>Описание</h1>
        @*Ссылка на метод в контроллере*@
        <p>
            Приложение состоит из трех частей:
            <ul>
                <li>веб-приложение</li>
                <li>web api</li>
                <li>desktop.</li>
            </ul>
            Веб-приложение и десктопное обращаются за данными к апи, поэтому для их корректной работы нужно запускать апи
        </p>
        <p>
            В системе есть три вида пользователей:
            <ul>
                <li>неавторизованные;</li>
                <li>авторизовнные без роли администратора;</li>
                <li>авторизовнные с ролью администратора.</li>
            </ul>
        </p>
        <p>
            Неавторизованным пользователем доступен просмотр списка сотрудников.
            Также пользователь может зарегистрировать себе учетную запись в системе
        </p>
        <p>
            Авторизованным пользователем без ролей доступен просмотр списка сотрудников и добавление новых сотрудников
        </p>
        <p>
            Администраторам доступен просмотр списка сотрудников; добавление, редактирование и удаление сотрудников.
            А также добавление редактирование и удаление пользователей системы
        </p>
        <p>
            Вход можно выполнять со существующими учетными данными:
            <ul>
                <li>пользователь без роли: логин <b>Karl</b> пароль <b>Qwerty123</b></li>
                <li>администратор: логин <b>admin</b> пароль <b>Qwerty123</b></li>
            </ul>
            Или можно зарегистрировать свою учетную запись
        </p>
    </form>
</div>