<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notebook</title>

</head>
<body>
    <table cellspacing="0" border="1" cellpadding="3">
        <caption>Список контактов</caption>

        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Действие</th>
        </tr>

        @foreach (var item in ViewBag.Workers)
        {
            <tr>
                <td>
                    <a href="~/Worker/View?Id=@item.Id" target="_blank">@item.Id</a>
                </td>
                <td>@(item.Name)</td>
                <td>@(item.Surname)</td>
                <td>@(item.Patronymic)</td>
                <td>
                    <a href="~/Worker/EditWorker?Id=@item.Id" target="_blank">Изменить</a>
                    <a href="~/Worker/DeleteWorker?Id=@item.Id" target="_blank">Удалить</a>
                </td>
            </tr>
        }
    </table>
    <p>
        <a href="/WorkersList/Index" target="_blank">Список сотрудников</a>
        <a href="/Worker/AddWorker" target="_blank">Добавить сотрудника</a>
    </p>
    <p>
        <a href="/WorkersList/IndexTest" target="_blank">Testovaya</a>
    </p>

</body>
</html>